<ul>
  <li>
    <a href="../"><img src="./images/hearts.png" alt="matches" /></a>
  </li>
  <li>
    <a href="../"><img src="./images/home.png" alt="home" /></a>
  </li>
  <li>
    <a href="../"><img src="./images/profile.png" alt="profiel" /></a>
  </li>
</ul>
