<!DOCTYPE html>
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main>
    <h1>Welkom</h1>
    <p>Gefeliciteerd met je nieuwe study buddy account.</p>
    <p>
      Voeg gelijk je voorkeuren aan je profiel toe zodat je betere matches kan
      krijgen.
    </p>
    <a href="./studie">start</a>
  </main>
  <footer><%- include('./partials/footer'); %></footer>
</body>
