<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="" />
</head>
<body>
  <title>Movie page - My movie website</title>
  <h1>Movie page</h1>
  <p>Thanks for adding a new movie yay</p>
</body>
