<!DOCTYPE html>
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main>
    <h1>Mijn profiel</h1>

    <section>
      <img src="./images/profielfoto.jpg" alt="profielfoto" />
      <p>Robin van Rooij</p>
    </section>

    <section>
      <h2>Voorkeuren</h2>
      <p>Studie: <%= studie %></p>
      <p>Methode: <%= methode %></p>
      <a href="./update">keuzes wijzigen</a>

      <!--form om data te deleten-->
      <form action="./profiel" methode="POST">
        <input type="hidden" name="studie" value="" />
        <input type="submit" value="delete" />
      </form>
    </section>
  </main>
  <footer><%- include('./partials/footer'); %></footer>
</body>
