<!DOCTYPE html>
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main>
    <h1>Mijn profiel</h1>

    <section>
      <img src="./images/profielfoto.jpg" alt="profielfoto" />
      <p>Robin van Rooij</p>
    </section>

    <section>
      <h2>Voorkeuren</h2>
      <p>Studie: <%= studie %></p>
      <p>Methode: <%= methode %></p>
      <a href="./update">keuzes wijzigen</a>
    </section>
  </main>
  <footer><%- include('./partials/footer'); %></footer>
</body>
