<!DOCTYPE html>
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main>
    <h1>Succesvol!</h1>
    <p>We hebben deze voorkeuren toegevoegd aan je profiel:</p>
    <p>Studie: <%= studie %></p>
    <p>Methode: <%=methode %></p>
    <a href="./profiel">nice! naar mijn profiel</a>
    <a href="./update">nee, toch iets anders kiezen</a>
  </main>
  <footer><%- include('./partials/footer'); %></footer>
</body>
