<!DOCTYPE html>
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main>
    <h1>Succesvol!</h1>
    <p>
      Leuk dat je <%= studie %> wil gaan leren met behulp van de methode <%=
      methode %>!
    </p>
    <p>We hebben deze voorkeuren toegevoegd aan je profiel.</p>
    <a href="./profiel">nice! naar mijn profiel</a>
    <a href="./update">nee, toch iets anders kiezen</a>
  </main>
  <footer><%- include('./partials/footer'); %></footer>
</body>
