h1,
p {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type='submit'] {
  background-color: rgb(10, 69, 7);
  color: white;
  padding: 10px;
  border-radius: 8px;
}

img {
  height: 150px;
  width: auto;
}

input[type='radio'] {
  display: none;
}
input[type='radio']:checked + label {
  border: 2px solid red;
}
